body {
    background-image: url(images/back.jpg);
    background-size: 100%;
}

.header {
    color: rgb(60, 47, 236);
font-family: cursive;
}

.footer {
    background-color: rgba(17, 185, 185, 0);

    color: rgb(96, 105, 112);
}

.header, .footer{
    min-height: 5vh;
}

.content{
    min-height: 90vh;
    color: blue;
}