body {
    background-image: url(images/back.jpg);
    background-size: 261%;
}

.header {
    color: rgb(60, 47, 236);
    font-family: cursive;
}
.content{
    color: rgb(113, 43, 226);
    font-family: cursive;
}

.footer {
    color: rgb(96, 105, 112);
}
.java{
    color: rgb(85, 64, 206);
}
table{
    border: 3px rgb(111, 3, 161) solid; 
}
td,th {
    border: 3px rgb(111, 3, 161) solid;
    height: 80px;
}

