body{
    background-image: url(images/back.jpg);
    background-size: 100% ;
}
.header {
    color: rgb(60, 47, 236);
    }
    li {
        color: rgb(105, 4, 151);
    }
    .footer{
        background-color: rgba(48, 187, 187, 0);
        color: rgb(96, 105, 112);
    }
    .header, .footer{
        min-height: 5vh;
    }
    
    .content{
        min-height: 90vh;
       
    }
